.table-container {
  margin-top: 100px;
}

.table-header {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin-bottom: 20px;
}

.table-header-column {
  text-align: center;
}

.table-content-item {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto auto;
}

.table-content-column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-image {
  width: 100px;
  height: 100px;
}

.player-name {
  text-align: center;
}

.additional-comment {
  margin-top: 20px;
  grid-column: 1 / 5;
  margin-left: 9%;
}

.additional-comment-content {
  position: relative;
  display: inline-block;
  background: #e0edff;
  border-radius: 6%;
  width: auto;
  padding: 20px 2%;
}

.additional-comment-content:before {
  content: '';
  position: absolute;
  top: -30px;
  border: 15px solid transparent;
  border-bottom: 15px solid #e0edff;
}
