<div class="table-container">
  <div class="table-header">
    <div class="table-header-column"></div>
    <div class="table-header-column">打率</div>
    <div class="table-header-column">本塁打</div>
    <div class="table-header-column">打点</div>
  </div>
  <div class="table-content">
    <div class="table-content-item">
      <ng-container *ngFor="let player of playerList">
        <div class="table-content-column player-icon-and-name">
          <div>
            <img
              class="player-image"
              src="../../../assets/baseball.png"
              alt="プレイヤー画像"
            />
            <div class="player-name">
              {{ player.name }}
            </div>
          </div>
        </div>
        <div class="table-content-column batting-average">
          {{ player.battingAverage }}
        </div>
        <div class="table-content-column homerun-count">
          {{ player.homerunCount }}
        </div>
        <div class="table-content-column rbi">
          {{ player.rbi }}
        </div>
        <div class="additional-comment">
          <p class="additional-comment-content">
            {{ player.additionalComment }}
          </p>
        </div>
      </ng-container>
    </div>
  </div>
</div>
